<div class="container-fluid"> 
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="users-grid-filter-container pull-left"></div>
                <button class="btn btn-primary btn-sm pull-right btn-add" role="button"><%= qtr('new user') %></button>
              </div>
            </div>            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 users-grid-thead-container"></div>
    </div>
    <div class="row">
        <div class="col-md-12 users-grid-body-container" style="overflow-y: auto;"></div>
    </div>    
    <div class="row">
        <div class="col-md-12 details"></div>
    </div>
</div>
