<div class="row">
	<div class="col-md-5">
	  <div class="form-group">
	    <label for="maxusers" class="control-label">Max users</label>
		 <input type="text" name="maxusers" id="maxusers" class="form-control input-sm" value="<%= rc.maxusers %>" placeholder="max users ..."/>
	    <span class="help-block"></span>
	  </div>		
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-5">
	  <div class="form-group">
	    <label for="maxgroups" class="control-label">Max groups</label>
		 <input type="text" name="maxgroups" id="maxgroups" class="form-control input-sm" value="<%= rc.maxgroups %>" placeholder="max groups ..."/>
	    <span class="help-block"></span>
	  </div>
	</div>
</div>