<div class="bbm-modal__topbar">
    <button type="button" class="close btn-cancel" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="bbm-modal__title">Change password</h3>
</div>
<div class="bbm-modal__section">
<form>
  <div class="form-group">
    <label for="oldpass">Old password</label>
    <input type="password" class="form-control" id="oldpass" placeholder="old password">
  </div>
  <div class="form-group">
    <label for="newpass1">New Password</label>
    <input type="password" class="form-control" id="newpass1" placeholder="type a new password">
  </div>
  <div class="form-group">
    <label for="newpass2">Retype Password</label>
    <input type="password" class="form-control" id="newpass2" placeholder="retype the new password">
  </div>
  <div id="change-pass-errors" class="text-danger"></div>
</form>
</div>
<div class="bbm-modal__bottombar">
    <button title="Cancel" type="button" class="btn-cancel btn btn-default btn-sm">Cancel</button>
    <button title="Save" type="button" class="btn-submit btn btn-primary btn-sm">Save</button>
</div>