<div class="radio radio-option ">
    <label class="label-option">
      <input 
        type="checkbox" 
        name="option_answer" 
        class="option-answer" 
        data-option-id="<%= option.id %>" 
        data-group-id="<%= option.quizgroup_id %>"
        value="<%= option.value %>"
        <%= (answer &&_.find(answer.data, function(opt){ return opt.option_id == option.id}))
            ?'checked="checked"'
            :'' %>
      /> 
      <%= qtr(option.text)%>
    </label>
</div>
