<div class="bbm-modal__topbar">
    <button type="button" class="close btn-cancel" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="bbm-modal__title">Question: <%= qtr(text) %></h3>
</div>
<div class="bbm-modal__section">
    <div>
    
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#int" aria-controls="int" role="tab" data-toggle="tab">Internal</a></li>
        <li role="presentation"><a href="#ro" aria-controls="ro" role="tab" data-toggle="tab">Ro</a></li>
        <li role="presentation"><a href="#en" aria-controls="en" role="tab" data-toggle="tab">En</a></li>
      </ul>
    <form class="form-horizontal">
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="int">
              <div class="form-group">
                <label for="int_text" class="control-label">Text</label>
                 <textarea name="int_text" id="int_text" class="form-control input-sm"><%= text.int %></textarea>
                <span class="help-block"></span>
              </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="ro">
              <div class="form-group">
                <label for="ro_text" class="control-label">Text</label>
                 <textarea name="ro_text" id="ro_text" class="form-control input-sm"><%= text.ro %></textarea>
                <span class="help-block"></span>
              </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="en">
              <div class="form-group">
                <label for="en_text" class="control-label">Text</label>
                 <textarea name="en_text" id="en_text" class="form-control input-sm"><%= text.en %></textarea>
                <span class="help-block"></span>
              </div>
        </div>
      </div>
      <% if (quiz.get('type')==Constants.QUIZ_TYPE_GIFTS) { %>
      <div class="form-group">
        <label for="quizgroup_id" class="control-label">Group</label>
         <select name="quizgroup_id" id="quizgroup_id" class="form-control input-sm">
             <option></option>
             <% _.each(groups, function(group) {%>
             <option value="<%=group.id %>" <%= group.id==quizgroup_id?'selected="selected"':'' %>><%=qtr(group.get('name')) %></option>                 
             <%})%>
         </select>
        <span class="help-block"></span>
      </div>
      <% } %>
    </form>
    </div>
</div>
<div class="bbm-modal__bottombar">
    <button title="Discard changes" type="button" class="btn-cancel btn btn-default btn-sm">Cancel</button>
    <button title="Save changes" type="button" class="btn-submit btn btn-primary btn-sm">Save</button>
</div>