<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
              <h1>Felicitari!</h1>
              <p>...</p>
              <p>
                <button class="btn btn-primary btn-validate btn-lg center-block">
                    Validate
                    <span aria-hidden="true" class="glyphicon glyphicon-ok"></span>
                </button>
               </p>
            </div>
        </div>
    </div>
</div>
