<div class="bbm-modal__topbar">
 	<button type="button" class="close btn-cancel" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h3 class="bbm-modal__title">Quiz: <%= qtr(name) %></h3>
</div>
<div class="bbm-modal__section">
	<div style="overflow-y: auto;height: 600px;">
		<div class="list-group sortable-questions">
		<% _.each(questions.models, function(question){ %>
		  <div class="list-group-item quiz-question-item" data-id="<%=question.id %>">
		    <h4 class="list-group-item-heading">
		        <%=question.get('position') %>. <span class="question-text"><%=qtr(question.get('text')) %></span>
		    </h4>
		    <p class="list-group-item-text">
	            <ul class="list-question-options sortable-options">
	            <% _.each(question.get('options'), function(option){ %>
	                <li class="question-option-item" data-id="<%=option.id %>">
	                    <%= renderOption(option) %>
	                </li>
	            <% }) %>
	            </ul>
	            <span class="clearfix"></span>
		    </p>
		  </div>    
		<%})%>
		</div>
	</div>
</div>
<div class="bbm-modal__bottombar">
	<button title="Ok" type="button" class="btn-submit btn btn-primary btn-sm">Ok</button>
</div>