<div class="bbm-modal__topbar">
    <button type="button" class="close btn-cancel" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="bbm-modal__title">Group: <%= qtr(name) %></h3>
</div>
<div class="bbm-modal__section">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#int" aria-controls="int" role="tab" data-toggle="tab">Internal</a></li>
        <li role="presentation"><a href="#ro" aria-controls="ro" role="tab" data-toggle="tab">Ro</a></li>
        <li role="presentation"><a href="#en" aria-controls="en" role="tab" data-toggle="tab">En</a></li>
      </ul>
    <form class="form-horizontal">
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="int">
            <div class="form-group">
                <label for="int_name" class="control-label">Name</label>
                 <input type="text" name="int_name" id="int_name" class="form-control input-sm" value="<%= name.int %>"/>
                <span class="help-block"></span>
              </div>
              <div class="form-group">
                <label for="int_description" class="control-label">Description</label>
                 <textarea name="int_description" id="int_description" class="form-control input-sm"><%= description.int %></textarea>
                <span class="help-block"></span>
              </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="ro">
            <div class="form-group">
                <label for="ro_name" class="control-label">Name</label>
                 <input type="text" name="ro_name" id="ro_name" class="form-control input-sm" value="<%= name.ro %>"/>
                <span class="help-block"></span>
              </div>
              <div class="form-group">
                <label for="ro_description" class="control-label">Description</label>
                 <textarea name="ro_description" id="ro_description" class="form-control input-sm"><%= description.ro %></textarea>
                <span class="help-block"></span>
              </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="en">
            <div class="form-group">
                <label for="en_name" class="control-label">Name</label>
                 <input type="text" name="en_name" id="en_name" class="form-control input-sm" value="<%= name.en %>"/>
                <span class="help-block"></span>
              </div>
              <div class="form-group">
                <label for="en_description" class="control-label">Description</label>
                 <textarea name="en_description" id="en_description" class="form-control input-sm"><%= description.en %></textarea>
                <span class="help-block"></span>
              </div>
        </div>
      </div>
    </form>
</div>
<div class="bbm-modal__bottombar">
    <button title="Discard changes" type="button" class="btn-cancel btn btn-default btn-sm">Cancel</button>
    <button title="Save changes" type="button" class="btn-submit btn btn-primary btn-sm">Save</button>
</div>