<div class="panel panel-default">
  <div class="panel-heading">Members</div>
  <table class="table table-condensed table-bordered">
    <tr>
        <th>Username</th>
        <th>E-mail</th>
        <th>Firstname</th>
        <th>Family name</th>
        <th style='width:50px;'></th>
    </tr>
<% _.each(members, function(member){ %>
    <tr>
        <td><%= member.username %></td>
        <td><%= member.email %></td>
        <td><%= member.firstname %></td>
        <td><%= member.lastname %></td>
        <td><a href="api/mail/invite/<%= member.id %>/<%= id %>" class="btn btn-xs btn-primary"><i class="fa fa-envelope-o" aria-hidden="true"></i> <%=qtr('Invite') %></a></td>
    </tr>
<% })%>
  </table>
</div>