<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#results" aria-controls="results" role="tab" data-toggle="tab">Results</a>
                </li>
                <li role="presentation">
                    <a href="#assigned" aria-controls="assigned" role="tab" data-toggle="tab">Assigned</a>
                </li>
                <!--li role="presentation">
                    <a href="#activities" aria-controls="activities" role="tab" data-toggle="tab">Activities</a>
                </li-->
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="results">
                    <p></p>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Results filter
                        </div>
                        <div class="panel-body">
                            <div class="results-filter-container"></div>
                        </div>
                    </div>
                    <div class="results-container"></div>
                    <div class="result-details-container"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="assigned">
                    <p></p>
                    <div class="assigned-container"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="activities">
                    ...
                </div>
            </div>
        </div>
    </div>
</div>
